@model IList<DevMoney.ExpenseDetail>
@{
    ViewBag.Title = "Index";
}

<section>
    <article>
        <h3>New expense</h3>
        <div>

        </div>
        @using (Html.BeginForm())
        {
            <fieldset>
                Amount <input type="text" id="txtAmount" />
                Reason <input type="text" id="txtReason" />
                @Html.ActionLink("Add", "Add", "Home")
            </fieldset>
        }
    </article>
</section>
<section>
    <article>
        <h3>Expense history</h3>
        <ul class="two-columns clearfix">
            @foreach (var x in Model)
            {
                <li>@x.Id - @x.Amount - @x.Description - @Html.ActionLink("Remove", "Remove", "Home", new { expenseId = x.Id }, null)</li>

            }
        </ul>
    </article>
</section>