@model DevMoneyWeb.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
}

<section>
    @using (Html.BeginForm("Add", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
</section>
<section>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Search, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Search, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
</section>
<section>
    <article>
        <h3>Expense history</h3>

        @if (Model.ExpenseHistory.Count > 0)
        {
            <div class ="two-columns clearfix">
                <ul>
                    @foreach (var x in Model.ExpenseHistory)
                    {
                        <li>@x.Id - @x.Amount - @x.Description - @Html.ActionLink("Remove", "Remove", "Home", new { expenseId = x.Id }, null)</li>

                    }
                </ul>
            </div>
            <div>Found: @Model.ExpenseHistory.Count items.</div>

        }
        else
        {
            <div class="two-columns clearfix">No expenses have been registered.</div>
        }


    </article>
</section>