@model DevMoneyWeb.Models.ListUtilityViewModel
@{
    ViewBag.Title = "Index";
}

<section>
    <div>
        @Html.ActionLink("Add new utility invoice", "Add", "Utility")
    </div>
</section>

<section>
    <article>
        <h3>Utilities</h3>

        @if (Model.Invoices.Count > 0)
        {
            <div class="two-columns clearfix">
                @foreach (var x in Model.Invoices)
                {
                    <div class="container-fluid" style="background-color:grey;padding:1em;color:white;font-size:1em;">
                        <div class="col-md-3">
                            Invoice# @x.Id
                        </div>
                        <div class="col-md-3">
                            @x.UtilityName - @x.InvoiceDate.ToShortDateString()
                        </div>
                        <div class="col-md-3">
                            @x.Amount.ToString("C") - @x.DueDate.ToShortDateString()
                        </div>
                        <div class="col-md-push-3">
                            @Html.ActionLink("Remove", "Remove", "Utility", new { invoiceId = x.Id }, null)
                        </div>
                    </div>
                }
            </div>
            <div>Found: @Model.Invoices.Count invoices.</div>

        }
        else
        {
            <div class="two-columns clearfix">No utility invoices have been registered.</div>
        }


    </article>
</section>

